<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
      <div class="table table-responsive table-striped" *ngIf="participants">
        <table class="table table-stripped">
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Pesel</th>
            <th>Address</th>
            <th>Parish</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let participant of participants">
            <td>{{participant.firstName}}</td>
            <td>{{participant.lastName}}</td>
            <td>{{participant.pesel}}</td>
            <td>{{participant.address}}</td>
            <td>{{participant.parish}}</td>
            <td><button routerLink="/participants/details/{{participant.id}}">Details</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<participants-add-new (addParticipantEvent)="onAddNewParticipant($event)"></participants-add-new>
