<h1>{{title}}</h1>

<div class="table-responsive" *ngIf="participants">
  <table class="table table-stripped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Pesel</th>
      <th>Address</th>
      <th>Parish</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants">
        <td>{{participant.firstName}}</td>
        <td>{{participant.lastName}}</td>
        <td>{{participant.pesel}}</td>
        <td>{{participant.address}}</td>
        <td>{{participant.parish}}</td>
        <td><button (click)="onSelectParticipant(participant)">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>

<participant-details [participant]="selectedParticipant"></participant-details>
