<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="Name"
           formControlName="name">
    <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="Address"
           formControlName="address">
    <mat-error *ngIf="form.get('address').invalid">Address is required</mat-error>
  </mat-form-field>
</form>
<button mat-button (click)="cancel()">Cancel</button>
<button mat-button (click)="submit()">Save</button>

