<div [formGroup]="experienceForm">
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="KWC status"
           formControlName="kwcStatus">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="In KWC since"
           formControlName="kwcSince">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Number of summer retreats"
           formControlName="numberOfSummerRetreats">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Number of prayer retreats"
           formControlName="numberOfPrayerRetreats">
  </mat-form-field>
</div>

