<div [formGroup]="experienceForm">
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="KWC status"
           formControlName="kwcStatus">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           [matDatepicker]="picker"
           placeholder="In KWC since"
           [value]="experienceForm.get('kwcSince').value"
           formControlName="kwcSince">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Number of Communion Days"
           formControlName="numberOfCommunionDays">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Number of prayer retreats"
           formControlName="numberOfPrayerRetreats">
  </mat-form-field>
</div>

