<div [formGroup]="healthReportForm">
  <mat-form-field style="width: 65%;">
    <input matInput
           placeholder="Current treatment"
           formControlName="currentTreatment">
  </mat-form-field>
  <mat-form-field style="width: 65%">
    <input matInput
           placeholder="Mental disorders"
           formControlName="mentalDisorders">
  </mat-form-field>
  <mat-form-field style="width: 65%;">
    <input matInput
           placeholder="Medications"
           formControlName="medications">
  </mat-form-field>
  <mat-form-field style="width: 65%">
    <input matInput
           placeholder="allergies"
           formControlName="allergies">
  </mat-form-field>
  <mat-form-field style="width: 65%">
    <input matInput
           placeholder="Medical diet"
           formControlName="medicalDiet">
  </mat-form-field>
  <mat-form-field style="width: 65%">
    <input matInput
           placeholder="Past serious diseases and operations"
           formControlName="seriousDiseasesAndOperations">
  </mat-form-field>
  <mat-form-field style="width: 45%">
    <input matInput
           placeholder="May hiking?"
           formControlName="mountainWalkingContraindications">
  </mat-form-field>
  <mat-form-field style="width: 45%">
    <input matInput
           placeholder="Locomotive disease"
           formControlName="locomotiveDisease">
  </mat-form-field>
  <mat-form-field style="width: 65%">
    <input matInput
           placeholder="other"
           formControlName="other">
  </mat-form-field>
</div>
