<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="First name"
           formControlName="firstName">
    <mat-hint>
      <mat-error *ngIf="form.get('firstName').touched && form.get('firstName').invalid">First name is required</mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="Last name"
           formControlName="lastName">
    <mat-hint>
      <mat-error *ngIf="form.get('lastName').touched && form.get('lastName').invalid">Last name is required</mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="PESEL"
           formControlName="pesel">
    <mat-hint>
      <mat-error *ngIf="form.get('pesel').touched && form.get('pesel').invalid">PESEL is required</mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <!--<textarea matTextareaAutosize-->
    <!--required-->
    <!--placeholder="Address"-->
    <!--formControlName="address">-->
    <!--</textarea>-->
    <input matInput
           required
           placeholder="Address"
           formControlName="address">
    <mat-hint>
      <mat-error *ngIf="form.get('address').touched && form.get('address').invalid">Address is required</mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <mat-select
      required
      placeholder="Parish"
      formControlName="parishId"
      >
      <mat-option *ngFor="let parish of parishes" [value]="parish.id">
        {{parish.name}}
      </mat-option>
    </mat-select>
    <!--<input matInput-->
           <!--required-->
           <!--placeholder="Parish"-->
           <!--formControlName="parish">-->
    <!--<mat-hint>-->
      <!--<mat-error *ngIf="form.get('parishId').touched && form.get('parishId').invalid">Parish is required</mat-error>-->
    <!--</mat-hint>-->
  </mat-form-field>
</form>
<button mat-button (click)="cancel()">Cancel</button>
<button mat-button (click)="submit()">Save</button>
