<form [formGroup]="form" class="field-wide">
  <mat-accordion>

    <mat-expansion-panel [expanded]="currentStep === 0" (opened)="setCurrentStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data</mat-panel-title>
        <mat-panel-description> Basic personal data and information</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="personalDataGroup">
        <reko-personal-data-form
          [group]="form.controls.personalDataGroup"
          [personalData]="personalData"
          [parishes]="parishes">
        </reko-personal-data-form>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 1" (opened)="setCurrentStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Health report</mat-panel-title>
        <mat-panel-description>Information about the state of participant's health</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="healthReport">
        <health-report-form
          [healthReportData]="healthReport"
          [healthReportForm]="form.controls.healthReport"></health-report-form>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 2" (opened)="setCurrentStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Experience in Oasis</mat-panel-title>
        <mat-panel-description> Information about previous formation and retreats</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="experience">
        <experience-form
          [experienceData]="experience"
          [experienceForm]="form.controls.experience">
        </experience-form>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 3" (opened)="setCurrentStep(3)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Current application</mat-panel-title>
        <mat-panel-description>Where this participant wants to go on retreat this year</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="currentApplication">
        <reko-current-application-form
          [currentApplicationData]="currentApplication"
          [currentApplicationForm]="form.controls.currentApplication">
        </reko-current-application-form>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 4" (opened)="setCurrentStep(4)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Opinions</mat-panel-title>
        <mat-panel-description> Collection of opinions on participant</mat-panel-description>
      </mat-expansion-panel-header>
      Opinions forms - work in progress

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</form>

<mat-action-row>
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Save</button>
</mat-action-row>
