<form [formGroup]="form" class="field-wide">
  <mat-accordion>

    <mat-expansion-panel [expanded]="currentStep === 0" (opened)="setCurrentStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data</mat-panel-title>
        <mat-panel-description> Basic personal data and information</mat-panel-description>
      </mat-expansion-panel-header>

      <table class="field-wide">
        <td>
          <mat-form-field class="field-wide">
            <input matInput
                   required
                   placeholder="First name"
                   formControlName="firstName">
            <mat-hint>
              <mat-error *ngIf="form.get('firstName').touched && form.get('firstName').invalid">First name is required</mat-error>
            </mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="field-wide">
            <input matInput
                   required
                   placeholder="Last name"
                   formControlName="lastName">
            <mat-hint>
              <mat-error *ngIf="form.get('lastName').touched && form.get('lastName').invalid">Last name is required</mat-error>
            </mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="field-wide">
            <input matInput
                   required
                   placeholder="PESEL"
                   formControlName="pesel">
            <mat-hint>
              <mat-error *ngIf="form.get('pesel').touched && form.get('pesel').invalid">PESEL is required</mat-error>
            </mat-hint>
          </mat-form-field>
        </td>
      </table>

      <div formGroupName="address">
        <address-form [addressData]="address" [addressForm]="form.controls.address"></address-form>
      </div>

      <table class="field-wide">
        <td>
          <mat-form-field class="field-wide">
            <input matInput
                   placeholder="Father name"
                   formControlName="fatherName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="field-wide">
            <input matInput
                   placeholder="Mother name"
                   formControlName="motherName">
          </mat-form-field>
        </td>
      </table>
      <table class="field-wide">
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Christening place"
                   formControlName="christeningPlace">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="picker"
                   placeholder="Christening date"
                   [value]="form.get('christeningDate').value"
                   formControlName="christeningDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </table>
      <table class="field-wide">
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Emergency contact"
                   formControlName="emergencyContactName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput
                   placeholder="Emergency contact number"
                   formControlName="emergencyContactNumber">
          </mat-form-field>
        </td>
      </table>

      <mat-form-field class="field-wide">
        <mat-select
          placeholder="Parish"
          formControlName="parishId"
          [(value)]="parishId">
          <mat-option *ngFor="let parish of parishes" [(value)]="parish.id">
            {{parish.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 1" (opened)="setCurrentStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Health report</mat-panel-title>
        <mat-panel-description>Information about the state of participant's health</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="healthReport">
        <health-report-form
          [healthReportData]="healthReport"
          [healthReportForm]="form.controls.healthReport"></health-report-form>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 2" (opened)="setCurrentStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Experience in Oasis</mat-panel-title>
        <mat-panel-description> Information about previous formation and retreats</mat-panel-description>
      </mat-expansion-panel-header>

      <div formGroupName="experience">
        <experience-form
          [experienceData]="experience"
          [experienceForm]="form.controls.experience">
        </experience-form>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 3" (opened)="setCurrentStep(3)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Opinions</mat-panel-title>
        <mat-panel-description> Collection of opinions on participant</mat-panel-description>
      </mat-expansion-panel-header>
      Opinions forms - work in progress

      <mat-action-row>
        <button mat-button color="warn" (click)="previousStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</form>
<button mat-button (click)="cancel()">Cancel</button>
<button mat-button (click)="submit()">Save</button>
