<div [formGroup]="addressForm">
  <table class="field-wide">
    <td>
      <mat-form-field>
        <input matInput
               required
               placeholder="Address: street"
               formControlName="streetName">
        <mat-hint>
          <mat-error *ngIf="addressForm.get('streetName').touched && addressForm.get('streetName').invalid">Street is required</mat-error>
        </mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: number"
               formControlName="streetNumber">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: flat"
               formControlName="flatNumber">
      </mat-form-field>
    </td>
  </table>

  <table class="field-wide">
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: code"
               formControlName="postalCode">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: city"
               formControlName="city">
      </mat-form-field>
    </td>
  </table>
</div>
