<div [formGroup]="addressForm">
  <mat-form-field class="field-wide">
    <input matInput
           required
           placeholder="Address: street"
           formControlName="street">
    <mat-hint>
      <mat-error *ngIf="addressForm.get('street').touched && addressForm.get('street').invalid">Street is required</mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Address: number"
           formControlName="number">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Address: flat"
           formControlName="flat">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Address: code"
           formControlName="code">
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           placeholder="Address: city"
           formControlName="city">
  </mat-form-field>
</div>
