<div [formGroup]="addressForm">
      <mat-form-field style="width: 65%;">
        <input matInput
               placeholder="Address: street"
               formControlName="streetName">
      </mat-form-field>
      <mat-form-field style="width: 10%;">
        <input matInput
               placeholder="number"
               formControlName="streetNumber">
      </mat-form-field>
      <mat-form-field style="width: 10%">
        <input matInput
               placeholder="flat"
               formControlName="flatNumber">
      </mat-form-field>

  <table class="field-wide">
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: code"
               formControlName="postalCode">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput
               placeholder="Address: city"
               formControlName="city">
      </mat-form-field>
    </td>
  </table>
</div>
