<ng-container [ngSwitch]="editing">
  <ng-container *ngSwitchCase="true">
    <participiant-form
      [address]="participantToEdit.address"
      [firstName]="participantToEdit.firstName"
      [id]="participantToEdit.id"
      [lastName]="participantToEdit.lastName"
      [parishId]="participantToEdit.parishId"
      [pesel]="participantToEdit.pesel"
      [christeningPlace]="participantToEdit.christeningPlace"
      [christeningDate]="participantToEdit.christeningDate"
      [motherName]="participantToEdit.motherName"
      [fatherName]="participantToEdit.fatherName"

      (formOutput)="updateParticipant($event)">
    </participiant-form>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <participiant-form (formOutput)="addParticipant($event)">
    </participiant-form>
  </ng-container>
</ng-container>
