<ng-container [ngSwitch]="editing">
  <ng-container *ngSwitchCase="true">
    <participiant-form
      [firstName]="participantToEdit.firstName"
      [id]="participantToEdit.id"
      [lastName]="participantToEdit.lastName"
      [parishId]="participantToEdit.parishId"
      [pesel]="participantToEdit.pesel"
      [christeningPlace]="participantToEdit.personalData.christeningPlace"
      [christeningDate]="participantToEdit.personalData.christeningDate"
      [motherName]="participantToEdit.personalData.motherName"
      [fatherName]="participantToEdit.personalData.fatherName"
      [closeRelativeName]="participantToEdit.personalData.closeRelativeName"
      [closeRelativeNumber]="participantToEdit.personalData.closeRelativeNumber"
      [address]="participantToEdit.address"
      (formOutput)="updateParticipant($event)">
    </participiant-form>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <participiant-form (formOutput)="addParticipant($event)">
    </participiant-form>
  </ng-container>
</ng-container>
