<div class="container-fluid" *ngIf="participant">
  <ng-container [ngSwitch]="editing">
    <div *ngSwitchCase="false">
      <h2>Details of {{participant.firstName}} {{participant.lastName}}</h2>
      <button mat-button (click)="edit()">
        <mat-icon>mode_edit</mat-icon> Edit
      </button>
      <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon> Delete
      </button>
      <div class="panel panel-primary">
        <div class="panel-heading">Personal information</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">First name <label>{{participant.firstName}}</label> </li>
            <li class="list-group-item">Last name <label>{{participant.lastName}}</label> </li>
            <li class="list-group-item">PESEL <label>{{participant.pesel}}</label> </li>
            <li class="list-group-item">Address <label>{{participant.address}}</label> </li>
            <li class="list-group-item">Parish <label>{{participant.parish}}</label> </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="true">
      <participiant-form
        [address]="participant.address"
        [firstName]="participant.firstName"
        [id]="participant.id"
        [lastName]="participant.lastName"
        [parish]="participant.parish"
        [pesel]="participant.pesel"
        (formOutput)="save($event)">
      </participiant-form>
    </div>
    <button class="btn btn-primary" (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</button>
  </ng-container>
</div>
