<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.kwcStatus}}" placeholder="KWC status">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.kwcSince}}" placeholder="In KWC since">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.numberOfSummerRetreats}}" placeholder="Number of summer retreats">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.numberOfPrayerRetreats}}" placeholder="Number of prayer retreats">
</mat-form-field>

