<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.kwcStatus}}" placeholder="KWC status">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.kwcSince}}" placeholder="In KWC since">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.numberOfCommunionDays}}" placeholder="Number of Communion Days">
</mat-form-field>
<mat-form-field class="field-wide">
  <input matInput disabled value="{{experienceData.numberOfPrayerRetreats}}" placeholder="Number of prayer retreats">
</mat-form-field>

<h4>Constant formation</h4>

<table class="field-wide">
  <td>
    <mat-form-field>
      <input matInput disabled value="sample data" placeholder="Formation meetings in month">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput disabled value="sample data" placeholder="Leading group to formation stage">
    </mat-form-field>
  </td>
</table>
<table class="field-wide">
  <td>
    <mat-form-field>
      <input matInput disabled value="sample data" placeholder="Deuterocatechumenate (year)">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput disabled value="sample data" placeholder="Steps taken/planned this year">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <input matInput disabled value="sample data" placeholder="Celebrations taken/planned this year">
    </mat-form-field>
  </td>
</table>
