<table class="field-wide">
  <tr>
    <td><reko-details-text-field [fieldValue]="experienceData.kwcStatus" [label]="'KWC status'"></reko-details-text-field></td>
    <td><reko-details-text-field [fieldValue]="experienceData.kwcSince" [label]="'In KWC since'"></reko-details-text-field></td>
  </tr>
  <tr>
    <td><reko-details-text-field [fieldValue]="experienceData.numberOfCommunionDays" [label]="'Number of Communion Days'"></reko-details-text-field></td>
    <td><reko-details-text-field [fieldValue]="experienceData.numberOfPrayerRetreats" [label]="'Number of Prayer Retreats'"></reko-details-text-field></td>
  </tr>
</table>

<h4>Constant formation</h4>

<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="experienceData.formationMeetingsInMonth" [label]="'Formation meetings in month'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="experienceData.leadingGroupToFormationStage" [label]="'Leading group to formation stage'"></reko-details-text-field></td>
</table>
<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="experienceData.deuterocatechumenateYear" [label]="'Deuterocatechumenate (year)'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="experienceData.stepsTaken + ' / '  + experienceData.stepsPlannedThisYear" [label]="'Steps taken/planned this year'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="experienceData.celebrationsTaken + ' / '  + experienceData.celebrationsPlannedThisYear" [label]="'Celebrations taken/planned this year'"></reko-details-text-field></td>
</table>
