<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="personalData.firstName" [label]="'First name'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.lastName" [label]="'Last name'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.pesel" [label]="'PESEL'"></reko-details-text-field></td>
</table>
<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="personalData.address.streetName" [label]="'Street'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.address.streetNumber" [label]="'Street number'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.address.flatNumber" [label]="'Flat number'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.address.postalCode" [label]="'Postal code'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.address.city" [label]="'City'"></reko-details-text-field></td>
</table>
<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="personalData.fatherName" [label]="'Father name'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.motherName" [label]="'Mother name'"></reko-details-text-field></td>
</table>
<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="personalData.emergencyContactName" [label]="'Emergency contact'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="personalData.emergencyContactNumber" [label]="'Emergency contact phone number'"></reko-details-text-field></td>
</table>
<table class="field-wide">
  <td><reko-details-text-field [fieldValue]="personalData.christeningPlace" [label]="'Christening place'"></reko-details-text-field></td>
  <td><reko-details-text-field [fieldValue]="formatDate(personalData.christeningDate)" [label]="'Christening date'"></reko-details-text-field></td>
</table>
