<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content class="dialog">
  <participiant-form
    [firstName]="firstName"
    [id]="id"
    [lastName]="lastName"
    [parishId]="parishId"
    [pesel]="pesel"
    [christeningPlace]="christeningPlace"
    [christeningDate]="christeningDate"
    [motherName]="motherName"
    [fatherName]="fatherName"
    [closeRelativeName]="closeRelativeName"
    [closeRelativeNumber]="closeRelativeNumber"
    [address]="address"
    (formOutput)="submit($event)">
  </participiant-form>
</mat-dialog-content>
