<!--<nav class="navbar navbar-dark bg-primary navbar-fixed-top">-->
  <!--<div class="container-fluid">-->
    <!--<a [routerLink]="['/']" class="navbar-brand">Rekolekcje</a>-->
    <!--<button class="navbar-brand" routerLink="/participants">Participants</button>-->

    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-user"></i> LOGIN
        </a>
      </li>-->
    <!--</ul>-->
  <!--</div>-->

<!--</nav>-->
<mat-toolbar role="heading">
  <span>Rekolekcje</span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLinkActive="active"
       routerLink="/home"
       #homeLinkActive="routerLinkActive"
       [active]="homeLinkActive.isActive">
      Home
    </a>
    <a mat-tab-link
       routerLinkActive="active"
       routerLink="/participants"
       #participantsLinkActive="routerLinkActive"
       [active]="participantsLinkActive.isActive">
      Participants
    </a>
    <a mat-tab-link
       routerLinkActive="active"
       routerLink="/parish"
       #parishLinkActive="routerLinkActive"
       [active]="parishLinkActive.isActive">
      Parish
    </a>
  </nav>
  <span class="fill-space"></span>
  <user-menu></user-menu>
</mat-toolbar>
