<!--<nav class="navbar navbar-dark bg-primary navbar-fixed-top">-->
  <!--<div class="container-fluid">-->
    <!--<a [routerLink]="['/']" class="navbar-brand">Rekolekcje</a>-->
    <!--<button class="navbar-brand" routerLink="/participants">Participants</button>-->

    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li>
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-user"></i> LOGIN
        </a>
      </li>-->
    <!--</ul>-->
  <!--</div>-->

<!--</nav>-->
<mat-toolbar role="heading">
  <a [routerLink]="['/']">
    <span class="main-heading">Rekolekcje</span>
  </a>
  <a [routerLink]="['home']">Home</a>
  <a [routerLink]="['participants']">Participants</a>
  <a [routerLink]="['parish']">Parish</a>
  <span class="fill-space"></span>
  <user-menu></user-menu>
</mat-toolbar>
