<div class="container-fluid">
  <mat-card>
    <mat-card-title>{{title}}</mat-card-title>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
        <mat-cell *matCellDef="let participant">{{participant.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
        <mat-cell *matCellDef="let participant">{{participant.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PESEL</mat-header-cell>
        <mat-cell *matCellDef="let participant">{{participant.pesel}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let participant">{{participant.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="parish">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Parish</mat-header-cell>
        <mat-cell *matCellDef="let participant">{{participant.parish}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let participant">
          <div class="btn-group-sm">
            <button class="btn btn-primary" (click)="goToDetails(participant)">
              <i class="fa fa-address-card"></i> Details
            </button>

            <button class="btn btn-warning" (click)="openEditParticipantDialog(participant)"><i class="fa fa-pencil"></i> Edit</button>

            <button class="btn btn-danger" (click)="openConfirmDeleteAlert(participant.id)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <button mat-button (click)="openAddParticipantDialog()">
      <mat-icon>add</mat-icon> Add
    </button>
  </mat-card>
</div>
